---
- name: Include OS-Specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family }}.yml"

- name: Install Java package (Ubuntu/Debian)
  ansible.builtin.apt:
    name: "{{ java_apt_package }}"
    state: present
    update_cache: true
# when: ansible_os_family == 'Debian'

- name: Add Jenkins apt key in system.
  ansible.builtin.apt_key:
    url: "{{ jenkins_repo_key_url }}"
    state: present

- name: Add Jenkins apt repository.
  ansible.builtin.apt_repository:
    repo: "{{ jenkins_repo_url }}"
    state: present
    update_cache: true

- name: Download specific Jenkins version.
  ansible.builtin.apt:
    name: jenkins #={{ jenkins_version }}
    state: present
    update_cache: true

- name: Starting Jenkins service
  ansible.builtin.service:
    name: jenkins
    state: started

- name: Register passwd
  ansible.builtin.command:
    cmd: cat /var/lib/jenkins/secrets/initialAdminPassword
  register: intialPasswd

- name: Display passwd
  ansible.builtin.debug:
    var: intialPasswd.stdout_lines

# http://54.215.40.116:8080/
